.profileCard {
  border: 1.25px solid;

  border-image-source: linear-gradient(
      118.06deg,
      rgba(170, 187, 254, 0.2) 1.06%,
      rgba(0, 0, 0, 0) 30.53%
    ),
    linear-gradient(
      133.91deg,
      rgba(0, 0, 0, 0) 8.47%,
      rgba(39, 232, 177, 0.2) 105.55%
    );
  backdrop-filter: blur(17.00941276550293px);

  border: 1.25px solid;

  border-image-source: linear-gradient(
      118.06deg,
      rgba(170, 187, 254, 0.2) 1.06%,
      rgba(0, 0, 0, 0) 30.53%
    ),
    linear-gradient(
      133.91deg,
      rgba(0, 0, 0, 0) 8.47%,
      rgba(39, 232, 177, 0.2) 105.55%
    );
}
